@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url('../misc/franklingothicdemi.ttf') format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Demi';
    font-size: 16px;
}

#page-container {
	width: 800px;
    height: 600px;
    margin: 0px;
    overflow: hidden;
    background: url('../images/core-background.png') no-repeat;
}

#page-header {

}

#page-body {

}

#page-footer {

}