@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url('franklingothicdemi.ttf') format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Demi';
    font-size: 16px;
}

#container {
	width: 800px;
    height: 600px;
    overflow: hidden;
    background: url('images/login_core.png') no-repeat;
	margin: 0px 0px;
}

body
{ 
	font:11px Franklin Gothic Demi;
	color:#000;
	background: url('images/background.png') gray no-repeat center;
	-webkit-font-smoothing: antialiased;
    user-select: none;
    overflow: hidden;
}

#container {
	width: 800px; height: 600px;
	margin: 0 auto;
	margin-top: -1px;
}

#content {
	padding: 0 9px 0 6px;
	float: left;
}

.page {
	background: url('images/pagenumbers.png') no-repeat;
	width: 71px; height: 19px;
	float: left; margin: 6px 0 0 2px;
	font-size: 12px;
	padding: 5px 0 0 6px;
}
.pages {width: 145px; margin: 7px 0 0 5px; bottom: 7px; position: absolute; left: 4px;}
.back {float: left;}
.page ul li {display: inline;}
.page ul li a {color: white; }
.forward{float: right;}

/*********** News ************/

#news {
	background: url('images/newsbarbg.png') no-repeat;
	width: 634px; height: 34px;
	margin-top: 0px;
	color: white;
	float: right;
	line-height: 34px;
	margin-right: 6px;
}
.newstext{
	padding-left: 90px;
}
/*********** Game Room ************/

#gameroom {
	width: 618px;
}

.gameroom {
	margin: -29px 0 -11px 3px;
	background: url('images/gameroom.png') bottom;
	width: 145px;
	height: 38px;
}
#nav {
	background: url('images/menubg.png') no-repeat;
	width: 625px; height: 38px;
	padding-left: 10px;
	padding-top: 8px;
	margin-top: 8px;
}

#nav a {color: #044c7f; font-weight: bold;}
#nav ul li {
	list-style-type: none; 
	display: inline-block;
	height: 30px;
	float: left;
	padding: 10px 0 0 0;
	margin: 0 5px 0 5px;
}
#nav ul li img {margin-top: -6px;}

#gamearea {
	background: url('images/gameroombg.png') no-repeat;
	widows: 607px; height: 392px;
	margin-top: -13px;
	margin-bottom: -3px;
	margin-left: 3px;
	padding: 5px;
}

.room {
	background: url('images/roombg.png') center no-repeat;
	width: 298px; height: 86px;
	float: left;
	margin: 0 0 3px 4px;
}

.roompicture
{
	float: left;
	background: url("images/blank_room_picbox.png");
	width: 74px;
	height: 72px;
	margin-top: 5px;
	margin-left: 6px;
}

.roomtitle
{
	text-align: center;
	color: white;
	font-size: 16px;
	vertical-align: top;
	margin-top: 5px;
	margin-left: 85px;
		background: url("images/room_title.png");
		width: 204px;
		height: 27px;
}

.roomtext
{
	padding-top: 2px;
}


.gameareapage {width: 145px; margin: 0px 0 0 5px; margin: 5px 0 0 250px;}
.page2 {
	background: url('images/pagenumbers.png') no-repeat;
	width: 71px; height: 19px;
	float: left; margin: 0px 0 0 2px;
	font-size: 12px;
	padding: 5px 0 0 6px;
}
.page2 ul li {display: inline;}
.page2 ul li a {color: white; }

/*********** Stats ************/

#stats {
	background: url('images/statsbg.png') no-repeat;
	width: 599px; height: 69px;
	margin-top: 2px;
	margin-left: 5px;
	padding: 15px 0 10px 15px;
}

#stats ul li {list-style-type: none;}
#stats .left {float: left;}

#stats .server { float: left; margin-right: 10px}
#stats .left ul li {
	float: left;
	color: white;
	font-weight: bold;
	text-shadow: 0px 0px 5px #000000;
	margin: 3px 0 3px 0;
}

#stats .right {
	float: right;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}

/*********** Sidebar ************/

#sidebar { float: right; width: 166px; }

#sidebar img { margin: 6px 0 0 0;}

#playersonline {
	background: url('images/playersonlinebg.png') no-repeat; 
	width: 163px; height: 330px;
	color: white;
	font-size: 13px;
	line-height: 16px;
	margin-left: -2px;
	position: relative;
}

.players_online_top {
	background: url('images/playersonlinetop.png') no-repeat;
	width: 163px;
	height: 37px;
	margin-top: 1px;
	margin-left: -2px;
}
#players {padding: 15px 0 0 0px;}
#players li {list-style-type: none; text-align: left;}

/*********** Bottom Bar ************/

#bottombar {
	background: url('images/bottombarbg.png') repeat-x top; 
	height: 37px;
	margin-top: -6px;
	padding: 5px 5px 0 5px;
}
#bottombar ul li { list-style-type: none; display: inline-block;}
#bottombar .left {float: left;}
#bottombar .right {float: right;}

.create_room{
	width: 163px;
	height:79px;
	background: url('images/createroom.png') no-repeat ;
	margin-top: 5px;
	margin-left: -2px;
}

.quick_play{
	width: 163px;
	height:79px;
	background: url('images/quickplay.png') no-repeat ;
	margin-left: -2px;
	margin-top: -1px;
}




















